.app {
  background-color: #A299D9;
  padding: 3vw 2vw;
  max-width: 475px;
  min-height: 400px;
  margin: auto;
}

.pink-box {
  width: 88%;
  height: 12.5rem;
  background-color: #FFACAC;
  position: absolute;
  top: 18.5rem;
  right: 0;
}

.gif-box {
  width: 68%;
  position: absolute;
  right: 1.1rem;
  top: 22rem;
}

.latrice {
  margin: 1rem 0;
}

.p-big {
  font-family: 'Domine', serif;
  color: #EBFF00;
  font-size: 2rem;
}

.fans {
  padding: 2rem;
  background-color: #FFACAC;
}